.App {
    display: flex;
    margin: 40px;
    min-height: calc(100vh - 80px);
  }

.stage {
    flex-basis: 70%;
    padding: 1em;
    background-color: grey;
}

.list {
    flex-basis: 10%;
    padding: 1em;
  }